@import "./text";
@import "./util";
@import "./page";

.ac-page-wrapper
{
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    flex-direction: column;

    min-height: 100vh;
}

header.ac-header
{
    display: flex;
    align-items: center;
    flex-shrink: 0;

    margin-top: 1rem;

    .ac-logo
    {
        font-size: $font-h2-size;

        display: inline-block;
        flex-shrink: 0;

        max-width: rem(128pt);
        margin: 1rem;
    }

    nav
    {
        font-family: $font-h6-family;

        display: inline-block;
        flex-grow: 1;

        transition-duration: 0.128s;
        transition-property: padding, opacity;
        text-align: center;

        ul
        {
            display: flex;

            margin: 0;
            padding: 0;

            list-style: none;

            li
            {
                position: relative;
                z-index: 10;

                display: inline-block;
                flex-grow: 1;

                margin: 0.5rem;
                padding: 0.5rem 1rem;

                cursor: pointer;

                &::before
                {
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;

                    width: 100%;
                    height: 100%;

                    content: " ";
                    transition-duration: 0.128s;
                    transition-property: opacity;

                    opacity: 0;

@include bevel-button($bevel-2pt, $accent-secondary-dark);
                    filter: drop-shadow(0pt 0pt 4pt rgba(black, 0.12));
                }

                &:hover::before
                {
                    opacity: 1;
                }
            }
        }

        .ac-nav-collapse
        {
            display: none;
        }
    }
}

section.ac-body
{
    align-self: center;
    flex-grow: 1;

    width: 100%;
    max-width: 50rem;
    margin-top: 1rem;
    padding: 0 2rem;

    color: $text-body-on-light;
    background: $bg-light;
    box-shadow: 0 0 16pt rgba(black, 0.12);
}

footer.ac-footer
{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;

    height: rem(50pt);
}

@media screen and (max-width: 640pt)
{
    header.ac-header
    {
        align-self: stretch;
        flex-wrap: wrap;

        nav
        {
            position: relative;

            flex-grow: 1;

            width: 100%;
        }

        nav ul
        {
            overflow: hidden;
            flex-direction: column;

            max-height: 0;

            transition-timing-function: ease-in-out;
            transition-duration: 0.384s;
            transition-property: max-height;

            justify-items: stretch;

            li
            {
                align-self: stretch;
            }
        }

        nav.nav-open ul
        {
            display: flex;

            max-height: 100vh;
        }

        nav .ac-nav-collapse
        {
            position: absolute;
            top: rem(-64pt);
            right: 0;

            display: inline-block;

            width: rem(64pt);
            margin-left: auto;
            padding: rem(16pt);

            text-align: right;
        }
    }

    section.ac-body
    {
        padding: 0 1rem;
    }
}
