#ac-page-root
{
    font: $font-body-2;

    transition-duration: 0.128s;
    transition-property: color, background-color;

    color: $text-on-light;
    background: $bg-light;

    &.dark-mode
    {
        color: $text-on-dark;
        background: $bg-dark;
    }
}

.ac-logo div, .ac-logo a
{
    display: block;
    width: 100%;
}

.ac-logo div /deep/ svg
{
    width: 100%;
    height: auto;
}

.ac-tile-background
{
    width: 100%;
    height: 100%;
    background-image: url(~@res/image/ac-bg-tile.png);
    background-repeat: repeat;
    background-size: 72pt;
    opacity: 0.1;
    position: absolute;
}

// animations

@keyframes background-fade-in
{
    0% { opacity: 0; display: none; }
    1% { opacity: 0; display: block; }
    100% { opacity: 0.1; }
}

@keyframes background-slide 
{
    0% { background-position: 0 0; }
    100% { background-position: 72pt 72pt; }
}

@media screen and (max-width: 640pt)
{
    // this is a phone, disable the animation
    .ac-tile-background
    {
        animation: none !important;
        opacity: 0.1;
    }
}