@import "./theme";
@import "./text";
@import "./page";


.ac-splash-wrapper
{
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 100vw;
    min-height: 100vh;
    position: relative;
}

.ac-splash
{
    max-width: 40rem;
    padding: 0 1rem;

    .ac-logo
    {
        width: 100%;
        max-width: 90vw;

        .ac-logo-wrapper
        {
            max-width: 30rem;
            margin: auto;
        }
    }
}

