@import url("https://fonts.googleapis.com/css?family=Assistant:400,600,700|Bitter:400,700");
@import "./theme";
$font-h1-family: "Bitter", serif;
$font-h1-size: 96pt;
$font-h1-weight: 400; // normal
$font-h1: $font-h1-weight $font-h1-size $font-h1-family;
$font-h2-family: $font-h1-family;
$font-h2-size: 60pt;
$font-h2-weight: $font-h1-weight;
$font-h2: $font-h2-weight $font-h2-size $font-h2-family;
$font-h3-family: $font-h2-family;
$font-h3-size: 48pt;
$font-h3-weight: $font-h2-weight;
$font-h3: $font-h3-weight $font-h3-size $font-h3-family;
$font-h4-family: $font-h3-family;
$font-h4-size: 34pt;
$font-h4-weight: $font-h3-weight;
$font-h4: $font-h4-weight $font-h4-size $font-h4-family;
$font-h5-family: $font-h4-family;
$font-h5-size: 24pt;
$font-h5-weight: $font-h4-weight;
$font-h5: $font-h5-weight $font-h5-size $font-h5-family;
$font-h6-family: $font-h5-family;
$font-h6-size: 20pt;
$font-h6-weight: $font-h5-weight;
$font-h6: $font-h6-weight $font-h6-size $font-h6-family;
$font-subtitle-1-family: "Assistant";
$font-subtitle-1-size: 16pt;
$font-subtitle-1-weight: 600; // semibold
$font-subtitle-1: $font-subtitle-1-weight $font-subtitle-1-size $font-subtitle-1-family;
$font-subtitle-2-family: $font-subtitle-1-family;
$font-subtitle-2-size: 14pt;
$font-subtitle-2-weight: $font-subtitle-1-weight; // semibold
$font-subtitle-2: $font-subtitle-2-weight $font-subtitle-2-size $font-subtitle-2-family;
$font-body-1-family: "Assistant";
$font-body-1-size: 16pt;
$font-body-1-weight: 400; // normal
$font-body-1: $font-body-1-weight $font-body-1-size $font-body-1-family;
$font-body-2-family: $font-body-1-family;
$font-body-2-size: 14pt;
$font-body-2-weight: $font-body-1-weight;
$font-body-2: $font-body-2-weight $font-body-2-size $font-body-2-family;
$font-caption-family: "Assistant";
$font-caption-size: 11pt;
$font-caption-weight: $font-body-1-weight;
$font-caption: $font-caption-weight $font-caption-size $font-caption-family;
$font-button-family: "Assistant";
$font-button-size: 14pt;
$font-button-weight: 600; // semibold
$font-button: $font-button-weight $font-button-size $font-button-family;

h1
{
    font: $font-h1;
}
h2
{
    font: $font-h2;
}
h3
{
    font: $font-h3;
}
h4
{
    font: $font-h4;
}
h5
{
    font: $font-h5;
}
h6
{
    font: $font-h6;
}

h1, h2, h3, h4, h5, h6
{
    line-height: 1.05;

    margin-bottom: 0.2em;
    margin-top: 0.6em;
}

button
{
    font: $font-button;
}

.text-caption
{
    font: $font-caption;
}
.text-subtitle-1
{
    font: $font-subtitle-1;
}
.text-subtitle-2
{
    font: $font-subtitle-2;
}
.text-body-1
{
    font: $font-body-1;
}
.text-body-2
{
    font: $font-body-2;
}
.text-muted
{
    opacity: 0.56;
}
a
{
    transition-duration: 0.128s;
    transition-property: color;
    text-decoration: underline;

    color: $accent-primary;

    text-decoration-style: dashed;

    &:hover
    {
        color: $accent-contrast;

        text-decoration-style: solid;
    }
}

a.text-on-dark, .dark-theme a
{
    color: $accent-secondary-light;

    &:hover
    {
        color: $accent-contrast-secondary-light;
    }
}

a.text-on-light, .light-theme a
{
    color: $accent-secondary-dark;

    &:hover
    {
        color: $accent-contrast-secondary-dark;
    }
}


@media screen and (max-width: 640pt)
{
    h1
    {
        font-size: 72pt;
    }
}