$accent-primary: #3e9324;
$accent-secondary-light: #548687;
$accent-secondary-dark: #002626;
$accent-light: #cae7b9;
$accent-contrast: #ff6978;
$accent-contrast-secondary-light: #ecc8af;
$accent-contrast-secondary-dark: #e7ad99;
$accent-danger: #ff3838;
$text-on-light: #1c0b19;
$text-on-dark: #eaeaea;
$text-on-accent: #ffffff;
$text-body-on-light: #5d4659;
$text-body-on-dark: $text-on-dark;
$bg-light: #fefefe;
$bg-dark: #31333b;
$bg-night: #06070e;
$bevel-2pt: 2.82842pt;

// this allows me to get these from js
:export
{
    accent-primary: $accent-primary;
    accent-secondary-light: $accent-secondary-light;
    accent-secondary-dark: $accent-secondary-dark;
    accent-light: $accent-light;
    accent-contrast: $accent-contrast;
    accent-contrast-secondary-light: $accent-contrast-secondary-light;
    accent-contrast-secondary-dark: $accent-contrast-secondary-dark;
    accent-danger: $accent-danger;
    text-on-light: $text-on-light;
    text-on-dark: $text-on-dark;
    text-on-accent: $text-on-accent;
    text-body-on-light: $text-body-on-light;
    text-body-on-dark: $text-on-dark;
    bg-light: $bg-light;
    bg-dark: $bg-dark;
    bg-night: $bg-night;
}
