@function rem($size-in-pt) {
    @return ($size-in-pt / 16pt) * 1rem;
}

@mixin bevel-button($radius, $color) {
    background-image: linear-gradient(135deg, transparent $radius, $color $radius + 0.01pt, $color),
    linear-gradient(225deg, transparent $radius, $color $radius + 0.01pt, $color),
    linear-gradient(315deg, transparent $radius, $color $radius + 0.01pt, $color),
    linear-gradient(45deg, transparent $radius,  $color $radius + 0.01pt, $color);
    background-repeat: no-repeat;
    background-position: top left, top right, 100% 100%, bottom left;
    background-size: 51% 51%;
}