<template>
    <div class="ac-button"
         :class="{ disabled: !enabled }">
        <button type="button"
                @click="onClick($event)"
                v-bind="$attrs"
                ref="button">
            <slot>
                {{ text }}
            </slot>

            <svg class="ac-button-ripple"
                 viewBox="0 0 100 100"
                 xmlns="http://www.w3.org/2000/svg"
                 preserveAspectRatio="xMidYMid slice">
                <circle cx="50"
                        cy="50"
                        r="0"
                        ref="ripple">
                </circle>
            </svg>

        </button>
    </div>
</template>

<style lang="scss">
@import "~@res/sass/theme.scss";
@import "~@res/sass/text.scss";
@import "~@res/sass/util.scss";

.ac-button
{
    min-width: rem(64pt);
    height: rem(36pt);
    position: relative;
    display: inline-block;

    button
    {
        font: $font-button;

        position: relative;

        width: 100%;
        height: 100%;
        padding: 0 rem(16pt);

        cursor: pointer;
        text-transform: uppercase;
        
        border: none;
        background-color: transparent;
    }

    &.style-contained 
    {
        filter: drop-shadow(0 2pt 4pt rgba(black, 0.2));

        button 
        {
            background-repeat: no-repeat;
            background-position: top left, top right, bottom right, bottom left;
            background-size: 51% 51%;
            color: $text-on-accent;
        }
    }

    .ac-button-ripple
    {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        circle
        {
            fill: rgba(black, 0.2);
        }

        // prevent ripple from bleeding out
        clip-path: polygon(4pt 0, calc(100% - 4pt) 0%, 100% 4pt, 100% calc(100% - 4pt), calc(100% - 4pt) 100%, 4pt 100%, 0% calc(100% - 4pt), 0% 4pt);
    }
}

.ac-button.style-flat:hover button
{
    @include bevel-button($bevel-2pt, rgba(black, 0.12));
    background-size: 50% 50%;
}

.ac-button.accent-primary 
{
    &.style-contained button 
    {
        @include bevel-button($bevel-2pt, $accent-primary);
    }

    &.style-flat button
    {
        color: $accent-primary;
        border: none;
        background-color: transparent;
    }
}

.ac-button.accent-contrast 
{
    &.style-contained button 
    {
        @include bevel-button($bevel-2pt, $accent-contrast);
    }

    &.style-flat button 
    {
        color: $accent-contrast;
    }
}

.ac-button.accent-danger 
{
    &.style-contained button 
    {
        @include bevel-button($bevel-2pt, $accent-danger);
    }

    &.style-flat button 
    {
        color: $accent-danger
    }
}

.dark-mode .ac-button
{
    &.accent-primary.style-flat button 
    {
        color: $accent-light;
    }
}
</style>

<script lang="ts">
import Vue from "vue";
import * as v from "av-ts";

import Themed from "@component/mixin/themed";

import anime from "animejs";

@v.Component({ inheritAttrs: false })
export default class AcButton extends v.Mixin(Themed) {
    @v.Prop public text = v.p({ default: "Button", type: String });
    @v.Prop public formType = v.p({ default: "button", type: String });
    @v.Prop public enabled = v.p({ default: true, type: Boolean });

    private onClick(evt: MouseEvent)    {
        this.$emit("click", evt);

        var rect = (this.$refs["button"] as HTMLButtonElement).getBoundingClientRect();
        var target = this.$refs["ripple"] as SVGCircleElement;

        target.setAttribute("cx", ((evt.clientX - rect.left) / rect.width * 100).toString());
        target.setAttribute("cy", ((evt.clientY - rect.top) / rect.height * 100).toString());

        anime({
            targets: target,
            r: [0, 142],
            opacity: [
                { value: [0, 1], duration: 512, delay: 0, elasticity: 0 },
                { value: 0, duration: 280, delay: 0, elasticity: 0 }],
            duration: 1500
        })
    }
}
</script>

