<template>
    <div class="ac-textfield"
         :class="{ focused, filled, invalid, multiline: isMultiline }">
        <div class="ac-textfield-fill"
             @click="$refs['input'].focus()">
            <span class="ac-textfield-label">
                {{ label }}
            </span>
            <!-- v-bind="$attrs" causes this input to inherit attrs from parent component -->
            <textarea :value="value"
                      :type="type"
                      :pattern="pattern"
                      v-bind="$attrs"
                      ref="input"
                      @input="$emit('input', $event.target.value)"
                      @focus="focused = true"
                      @blur="focused = false"
                      v-if="isMultiline" />
            <input :value="value"
                   :type="isPassword ? 'password' : 'text'"
                   :pattern="pattern"
                   v-bind="$attrs"
                   ref="input"
                   @input="$emit('input', $event.target.value)"
                   @focus="focused = true"
                   @blur="focused = false"
                   v-else />
            
            </div>
        <svg viewBox="0 0 100 4"
             class="ac-textfield-accent-lines"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="none">
            <line x1="0"
                  x2="100"
                  y1="0"
                  y2="0"
                  vector-effect="non-scaling-stroke" />
            <line x1="0"
                  x2="100"
                  y1="4"
                  y2="4"
                  vector-effect="non-scaling-stroke" />
        </svg>
        <span class="ac-textfield-helper" v-if="!errorText">
            {{ helperText }}
        </span>
        <span class="ac-textfield-helper ac-textfield-error" v-if="errorText">
            {{ errorText }}
        </span>
    </div>
</template>

<style lang="scss">
@import "~@res/sass/theme.scss";
@import "~@res/sass/text.scss";
@import "~@res/sass/util.scss";

.ac-textfield
{
    text-align: start;
    
    position: relative;

    font: $font-body-2;

    min-width: rem(280pt);

    .ac-textfield-fill
    { 
        display: grid;

        width: 100%;
        min-height: rem(48pt);
        padding: 0 (12 / 14) * 1em; // 12pt 

        border: none;

        $bg: rgba($bg-dark, 0.05);
        
        background-image:
            linear-gradient(135deg, transparent $bevel-2pt, $bg $bevel-2pt + 0.01pt, $bg),
            linear-gradient(225deg, transparent $bevel-2pt, $bg $bevel-2pt + 0.01pt, $bg);

        background-repeat: no-repeat;
        background-position: left, right;
        background-size: calc(50% + 0.05pt) 100%;
    }

    .ac-textfield-label
    {
        margin-top: 16pt;

        user-select: none;
        transition-duration: 0.128s;
        transition-property: margin-bottom, font-size, color, font-weight;

        color: rgba($text-on-light, 0.56);

        grid-row: 1;
        grid-column: 1;
    }

    input
    {
        width: 100%;
        margin-top: 16pt;
        margin-bottom: 12pt;

        vertical-align: baseline;

        color: $text-on-light;
        border: none;
        outline: none;
        background: transparent;

        grid-row: 1;
        grid-column: 1;
    }

    textarea
    {
        width: 100%;
        margin-bottom: 4pt;
        margin-top: 16pt;

        color: $text-on-light;
        border: none;
        outline: none;
        background: transparent;

        grid-row: 1 / 2;
        grid-column: 1;
        height: 1.5em;
        resize: none;
    }

    .ac-textfield-accent-lines
    {
        width: 100%;
        height: 4pt;

        line
        {
            stroke: #000000;
            stroke-opacity: 0.56;
            stroke-width: 1pt;
        }
    }

    .ac-textfield-helper 
    {
        font: $font-caption;
        line-height: rem(16pt);
        margin: 0 rem(12pt);
        opacity: 0.76;

        &.ac-textfield-error 
        {
            color: $accent-danger;
        }
    }

    &.focused, &.filled
    {
        .ac-textfield-label
        {
            font-size: (10 / 14) * 1em;


            margin-top: 4pt;
            margin-bottom: rem(32pt);
        }
    }    
}

.dark-mode .ac-textfield
{
    .ac-textfield-fill
    {
        $bg: rgba($bg-light, 0.1);

        background-image: 
            linear-gradient(135deg, transparent $bevel-2pt, $bg $bevel-2pt + 0.01pt, $bg),
            linear-gradient(225deg, transparent $bevel-2pt, $bg $bevel-2pt + 0.01pt, $bg);

    }

    .ac-textfield-label
    {
        color: rgba($text-on-dark, 0.44);
    }

    input
    {
        color: $text-on-dark;
    }

    .ac-textfield-accent-lines line
    {
        stroke: #ffffff;
        stroke-opacity: 0.44;
        stroke-width: 1pt;
    }
}

.ac-textfield.focused
{
    .ac-textfield-label
    {
        font-weight: 600;

        color: $accent-primary;
    }

    .ac-textfield-accent-lines line
    {
        stroke: $accent-primary;
        stroke-opacity: 1;
    }

    input
    {
        outline: none;
    }
}

.ac-textfield.invalid 
{
    .ac-textfield-label { color: $accent-danger; }

    &:not(.filled)
    {
        .ac-textfield-label { opacity: 0.64; }
    }

    .ac-textfield-accent-lines line
    {
        stroke: $accent-danger;
        stroke-opacity: 1;
    }

    .ac-textfield-helper 
    {
        color: $accent-danger;
        opacity: 1;
    }
}

@media screen and (max-width: 320pt)
{
    .ac-textfield
    {
        min-width: rem(140pt);
    }
}
</style>

<script lang="ts">
import Vue from "vue";
import * as v from "av-ts";

import Themed from "@component/mixin/themed";

@v.Component({ inheritAttrs: false, model: { prop: "value", event: "input" } })
export default class AcTextField extends v.Mixin(Themed) {
    @v.Prop public value = v.p({ default: "", type: String });
    @v.Prop public label = v.p({ default: "Label", type: String });
    @v.Prop public helperText = v.p({ default: "", type: String });
    @v.Prop public errorText = v.p({ default: "", type: String });
    @v.Prop public pattern = v.p<string | null>({ default: null });
    @v.Prop public isMultiline = v.p({ default: false, type: Boolean });
    @v.Prop public isPassword = v.p({ default: false, type: Boolean });

    public focused = false;

    public get filled() { return !!this.value; }

    public get invalid() 
    {
        if(this.errorText) return true;
        if (this.pattern) return !(new RegExp(this.pattern).test(this.value));
        if (!this.$refs["input"]) return false;

        return !(this.$refs["input"] as HTMLInputElement).checkValidity();
    }


    @v.Watch("value")
    public valueChanged()
    {
        if (this.isMultiline)
        {
            const textarea = this.$refs["input"] as HTMLTextAreaElement;
            textarea.style.height = "auto";
            textarea.style.height = `${textarea.scrollHeight}px`;
        }
    }
}
</script>

