<template>
    <div id="ac-page-root">
        <div class="ac-tile-background">
        </div>
        <div class="ac-splash-wrapper">
            <section class="ac-splash">
                <overdrive id="ac-logo"
                           class="ac-logo"
                           :duration="500"
                           :easing="easing">
                    <div class="ac-logo-wrapper" v-html="require('!!html-loader!@res/image/ac-logo.svg')">
                    </div>
                </overdrive>
                <h1>Not found</h1>
                <p>
                    We didn't <em>account</em> for this when building the website.<br />
                    <router-link to="/"
                                 class="text-on-dark">Want to go back to the home page?</router-link>
                </p>
            </section>
        </div>
    </div>
</template>

<style lang="scss" scoped>
@import "~@res/sass/splash-page.scss";
@import "~@res/sass/theme";

.ac-tile-background
{
    opacity: 0;
    animation-name: background-fade-in, background-slide;
    animation-delay: 0s, 1s;
    animation-duration: 5s, 15s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1, infinite;
    animation-timing-function: ease-out, linear;
}

.ac-splash .ac-logo
{
    display: inline-block;

    width: 50%;
}

#ac-page-root
{
    text-align: center;

    color: $text-on-dark;
    background: $bg-dark;
}

</style>

<script lang="ts">
import Vue from "vue";
import * as v from "av-ts";

import anime from "animejs";

@v.Component
export default class NotFoundPage extends Vue
{
    // picked up by router
    public static theme = "dark";

    public easing = require("ramjet").easeInOut;

}
</script>