<template>
    <normal-layout>
        <h3>Contact Us</h3>
        <p>
            To do business with us, you can send us a message or schedule an appointment
            using the form below. For inquiries not answered in our
            <router-link to="/faq">FAQ</router-link>, you can email customer support
            <a ref="contact-email">here</a>.
        </p>
        <form>
            <section id="contact-info">
                <ac-textfield label="Name"
                              v-model="name"
                              :errorText="errors['name']" />
                <ac-textfield label="Position"
                              v-model="position"
                              helper-text="Your position within your company."
                              :errorText="errors['position']" />
                <ac-textfield label="Company"
                              v-model="company"
                              helper-text="The company you represent."
                              :errorText="errors['company']" />
                <ac-textfield label="Email"
                              v-model="email"
                              helper-text="Please put an address where we can easily contact you."
                              :errorText="errors['email']" />
            </section>
            <br />
            <section id="date-picker">
                <v-date-picker mode="single"
                               v-model="appointmentDate"
                               :disabled-dates="{ weekdays: [1, 7] }"
                               :theme-styles="calendarStyle">
                    <ac-textfield slot-scope="{ inputValue, updateValue }"
                                  v-model="inputValue"
                                  @input="updateValue"
                                  label="Appointment Date"
                                  helper-text="Leave this blank to send a message without scheduling an appointment." />
                </v-date-picker>
            </section>
            <br />
            <ac-textfield label="Inquiry"
                          v-model="inquiry"
                          is-multiline
                          helper-text="What can we help you with?"
                          :errorText="errors['inquiry']" />

            <section id="buttons">
                <ac-button class="accent-primary style-flat"
                           v-if="appointmentDate"
                           @click="submit">
                    Schedule Appointment
                </ac-button>
                <ac-button class="accent-primary style-flat"
                           v-else
                           @click="submit">
                    Send Message
                </ac-button>
            </section>

            <div class="message-success"
                 v-if="success">
                Your inquiry has been sent!
            </div>
        </form>

    </normal-layout>
</template>

<style lang="scss" scoped>
@import "~@res/sass/normal-page";
@import "~@res/sass/theme";

#ac-page-root
{
    text-align: left;

    color: $text-on-accent;
    background: $accent-primary;
}

form
{
    #contact-info
    {
        display: grid;

        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }

    #buttons
    {
        text-align: right;
    }

    .ac-textfield
    {
        width: auto;
    }

    margin-bottom: 12rem;
}

.message-success
{
    background: $accent-primary;
    color: $text-on-accent;
    border-radius: 4pt;
    box-shadow: 0 0 4pt rgba(black, 0.12);
    padding: 1rem;
    margin-top: 1rem;
}

@media screen and (max-width: 768pt)
{
    form
    {
        #contact-info
        {
            grid-template-columns: 1fr;
        }
    }
}

</style>

<script lang="ts">
import Vue from "vue";
import * as v from "av-ts";

import theme from "@res/sass/theme.scss";

import anime from "animejs";

import NormalLayout from "@layout/normal.vue";

@v.Component({ components: { NormalLayout } })
export default class ContactPage extends Vue
{
    public name = "";
    public position = "";
    public email = "";
    public company = "";
    public inquiry = "";
    public appointmentDate = null;

    public errors = {};
    public success = false;

    public get calendarStyle()    
    {
        const hSpacing = "15px";
        return {
            wrapper: {
                background: theme["bg-light"],
                color: theme["text-on-light"],
                border: "none",
                boxShadow: "0 0 4pt rgba(0, 0, 0, 0.12)",
                borderRadius: "4pt",
                fontSize: "14pt"
            },
            headerTitle: {
                fontSize: "14pt"
            },
            weekdays: {
                color: theme["accent-primary"], // New color
                fontWeight: "600", // And bolder font weight
                padding: `20px ${hSpacing} 5px ${hSpacing}`,
                fontSize: "14pt"
            },
            weeks: {
                padding: `0 ${hSpacing} ${hSpacing} ${hSpacing}`,
            },
            dayContent: {
                fontSize: "12pt"
            }
        };
    }

    @v.Lifecycle
    public mounted()
    {
        // set this after the page loads to avoid being scraped by bot
        const contactEmailLink = this.$refs["contact-email"] as HTMLAnchorElement;
        contactEmailLink.href = "mailto:ibiyemi@intulon.com";
        contactEmailLink.addEventListener("click", () => contactEmailLink.innerText = "at ibiyemi@intulon.com");
    }

    public submit()    {
        this.errors["name"] = !this.name ? "Please enter your name." : false;
        this.errors["position"] = !this.position ? "Please enter your position." : false;
        this.errors["email"] = !this.email ? "Please enter your email." : false;
        this.errors["company"] = !this.company ? "Please enter your company." : false;
        this.errors["inquiry"] = !this.inquiry ? "Please enter your inquiry." : false;

        this.success = !Object.keys(this.errors).some(k => this.errors[k]);

        this.$forceUpdate();
    }
}
</script>

