<template>
    <normal-layout>
        <h3>Frequently asked questions</h3>
        <br />
        <h6>Why should I choose Accuracy?</h6>
        <p>
            We are a dedicated and fast-growing company that sits on the cutting edge of
            technological efficiency, making full use of technologies such as MongoDB and
            Node.js. We offer thorough auditing, bookkeeping, tax, and business services
            to our clients with a rigorous quality-control pipeline.
        </p>
        <br />
        <h6>How do you charge for your services?</h6>
        <p>
            Our services are all listed with minimum prices on the
            <router-link to="/pricing">Service &amp; Pricing page</router-link>.
            For services that are continuous, such as personal bookkeeping, you
            are billed per week at the end of each month. Other services are discrete,
            such as audits, in which case you are billed when we finish.
        </p>
        <br />
        <h6>Why are all of your prices minimums?</h6>
        <p>
            Our services are very specific and tailored to your situation. However,
            that might mean that sometimes we will require greater compensation due
            to extenuating circumstances. We will always be upfront about what we intend
            to charge for a specific service; we promise there are no surprises.
        </p>
        <br />
        <h6>What kind of clients do you serve?</h6>
        <p>
            We serve individuals and companies of all sizes, from small businesses to
            corporations.
        </p>
        <br />
        <h6>Do you outsource any of your services?</h6>
        <p>
            No, we have complete vertical integration. Your information stays with us
            from the beginning until the very end.
        </p>
        <br />
        <h6>What steps do you take to secure my information?</h6>
        <p>
            Everything you would expect. Two-factor authentication is required to log
            into our online services, all financial data is encrypted with 512-bit keys,
            and our internet transactions occur exclusively over HTTPS.
        </p>
        <br />
        <section id="pitch">
            Convinced that Accuracy is your dream accounting firm?
            <br/>
            <router-link to="/pricing">
                <ac-button class="accent-primary style-contained">
                    Prices &amp; Services
                </ac-button>
            </router-link>
        </section>
    </normal-layout>
</template>

<style lang="scss" scoped>
@import "~@res/sass/normal-page";
@import "~@res/sass/theme";

#ac-page-root
{
    text-align: left;

    color: $text-on-accent;
    background: $accent-primary;
}

#pitch
{
    text-align: center;
    margin: 1rem 0;

    .ac-button
    {
        margin: 1rem 0;
    }
}
</style>

<script lang="ts">
import Vue from "vue";
import * as v from "av-ts";

import anime from "animejs";

import NormalLayout from "@layout/normal.vue";

@v.Component({ components: { NormalLayout } })
export default class FaqPage extends Vue
{
}
</script>

