<template>
    <div id="ac-page-root">
        
        <div class="ac-tile-background">
        </div>
        <div class="ac-splash-wrapper">
            <section class="ac-splash">
                <overdrive id="ac-logo"
                           class="ac-logo"
                           :duration="500"
                           :easing="easing">
                    <div class="ac-logo-wrapper" v-html="require('!!html-loader!@res/image/ac-logo.svg')">
                    </div>
                </overdrive>
                <nav>
                    <ul>
                        <router-link tag="li"
                                     to="/pricing">
                            Services & Pricing
                        </router-link>
                        <router-link tag="li"
                                     to="/faq">
                            FAQ
                        </router-link>
                        <router-link tag="li"
                                     to="/mission">
                            About Us
                        </router-link>
                        <router-link tag="li"
                                     to="/contact">
                            Contact Us
                        </router-link>
                        <router-link tag="li"
                                     to="/login">
                            Log In
                        </router-link>
                    </ul>
                </nav>
            </section>
        </div>
    </div>
</template>

<style lang="scss" scoped>
@import "~@res/sass/splash-page";
@import "~@res/sass/theme";
@import "~@res/sass/util";
@import "~@res/sass/text";

#ac-page-root
{
    color: $text-on-accent;
    background: $accent-primary;

    text-align: center;
}

.ac-tile-background
{
    opacity: 0;
    animation-name: background-fade-in, background-slide;
    animation-delay: 0s, 1s;
    animation-duration: 5s, 15s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1, infinite;
    animation-timing-function: ease-out, linear;
}

.ac-splash
{

    nav
    {
        font-family: $font-h6-family;

        transition-duration: 0.128s;
        transition-property: padding, opacity;

        opacity: 0.8;

        &:hover
        {
            padding: 1em 0;

            opacity: 1;
        }

        ul
        {
            display: flex;

            margin: 0;
            padding: 0;

            list-style: none;

            li
            {
                position: relative;

                display: inline-block;
                flex-grow: 1;

                margin: 0.5rem;
                padding: 0.5rem 1rem;

                cursor: pointer;
                z-index: 10;

                &::before
                {
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;

                    width: 100%;
                    height: 100%;

                    content: " ";
                    transition-duration: 0.128s;
                    transition-property: opacity;

                    opacity: 0;

                    @include bevel-button($bevel-2pt, $accent-secondary-dark);

                    filter: drop-shadow(0pt 0pt 4pt rgba(black, 0.12));
                }

                &:hover::before
                {
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 640pt) 
{
    .ac-splash nav ul 
    {
        flex-direction: column;
        margin-top: 1rem;

        li {
            margin: 0;
        }
    }
}
</style>

<script lang="ts">
import Vue from "vue";
import { Route } from "vue-router";
import * as v from "av-ts";

import anime from "animejs";

@v.Component
export default class HomePage extends Vue
{
    public easing = require("ramjet").easeInOut;

    @v.Lifecycle
    public mounted()    
    {
        if (this.$store.getters["hasNavigated"]) return;

        const target = document.querySelector(".ac-logo #accuracy-text") as any as SVGGElement;

        target.style.strokeWidth = "1pt";
        target.style.stroke = "#ffffff";
        target.style.strokeDasharray = "300pt, 300pt";
        target.style.fillOpacity = "0";
        target.style.strokeOpacity = "1";

        anime({
            targets: target,
            strokeDashoffset: [{ value: ["-300pt", "0pt"], duration: 4000, elasticity: 0 }],
            fillOpacity: [{ value: ["0", "1"], duration: 2000, delay: 2000 }],
            strokeOpacity: [{ value: ["1", "0"], duration: 3000, delay: 2500 }],
            elasticity: 0,
            delay: 1000
        });

        anime({
            targets: ".ac-splash nav ul li",
            opacity: [{ value: [0, 1], easing: "easeOutCubic" }],
            translateY: ["-100%", "0"],
            delay: (el, i) => 2000 + i * 100,
            elasticity: 100,
            duration: 2000
        });
    }
}
</script>

