<template>
    <normal-layout>
        <section id="login">
            <h4>
                Log in
            </h4>
            <form>
                <section id="input">
                    <ac-textfield v-model="username"
                                  label="Username"
                                  :error-text="errors['username']" />
                    <ac-textfield v-model="password"
                                  label="Password"
                                  is-password
                                  :error-text="errors['password']" />

                    <ac-button class="accent-primary style-contained"
                               @click="login()">
                        Log in
                    </ac-button>
                </section>
                <section id="info">
                    <p id="upsell"
                       class="text-muted">
                        Log in to access Accuracy's industry-leading services and
                        software.
                    </p>
                    <ul>
                        <li>
                            <a href="#">Forgot your password?</a>
                        </li>
                        <li>
                            <a href="#">Need help logging in?</a>
                        </li>
                    </ul>
                </section>
            </form>
        </section>
    </normal-layout>
</template>

<style lang="scss" scoped>
@import "~@res/sass/normal-page";
@import "~@res/sass/theme";

#ac-page-root
{
    text-align: left;

    color: $text-on-accent;
    background: $accent-primary;
}

#login
{
    text-align: center;
}

form
{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .ac-textfield, .ac-button
    {
        margin-top: 1rem;
    }

    #info
    {
        margin-top: 1rem;

        #upsell
        {
            display: none;
        }
        
        ul
        {
            margin: 0;
            padding: 0;

            list-style: none;

            text-align: start;
        }
    }
}

@media screen and (min-width: 640pt)
{
    form
    {
        flex-direction: row;

        #info
        {
            max-width: 15rem;
            margin-bottom: 1rem;
            margin-left: 1rem;
            padding-left: 1rem;

            text-align: left;

            border-left: 1px solid rgba($text-on-light, 0.12);

            #upsell
            {
                display: block;
            }
        }
    }
}

</style>

<script lang="ts">
import Vue from "vue";
import * as v from "av-ts";

import anime from "animejs";

import NormalLayout from "@layout/normal.vue";

@v.Component({ components: { NormalLayout } })
export default class LoginPage extends Vue
{
    public username = "";
    public password = "";
    public errors = { };

    public login() 
    {
        this.errors = {
            "username": "This user doesn't seem to exist.",
            "password": "This password and username combo wasn't found."
        };
    }
}
</script>

