<template>
    <normal-layout>
        <p id="mission-statement">
            Our mission is to drive progress and make a difference
            by building a better working world – for our people, for our clients and for
            our communities.
        </p>

        <p>
            We're a startup in Atlanta, GA that has about 50 people in staff currently
            from a staff of 5 in 2013. We started so small so we could get to know each
            of our clients personally and we built off that initial team so that we could
            help more people get the service they deserve out of accounting.
        </p>

        <br />
        <h6>Our staff</h6>
        <section id="staff">
            <div class="staff-member"
                 v-for="(member, $index) in staff"
                 :key="$index">
                <span class="staff-name">
                    {{ member.name }}
                </span>
                <span class="staff-position">
                    {{ member.position }}
                </span>
                <span class="staff-badges">
                    <a href="https://github.com/laptou"
                       class="badge badge-gh">
                    </a>
                    <a href="https://stackoverflow.com/users/3508956/laptou"
                       class="badge badge-so">
                    </a>
                </span>
            </div>
        </section>

        <br />
        <h6>About this website</h6>
        <p>
            Here's an additional technology that was included in this website:
            disconnect your device from the internet, and then
            <a href="https://fbla-2019.ibiyemiabiodun.com"
               target="_top">click this link</a>
            to reload the page. The page will still load, because this website uses
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API">
                service workers</a> to ensure the best possible experience for our users.

            <br />
            <br />

            This website is a <a href="https://en.wikipedia.org/wiki/Single-page_application">
                single-page application</a>, meaning that the page is normally never
            refreshed while
            you are navigating within the website. This provides a smoother experience
            for the user
            as there are no flashes as the page reloads from scratch, and fewer network
            resources
            are utilised as the requisite resources are not reloaded every time you
            navigate to a new page. The HTML5 History API is used to accomplish this invisibly, 
            allowing the URI displayed by the browser to appear to change as the user 
            navigates around and allowing specific pages to be bookmarked or shared.

            <br />
            <br />

            The login page is an additional page typically found on business websites. On
            the contact page, select or hover over the appointment field to view the interactive
            calendar.

            <br />
            <br />

            This website has been tested and works ideally in the latest versions of Edge and 
            and Chrome on the desktop and Safari and Chrome on smartphones, and works correctly
            in Firefox on the desktop and on smartphones.

            <br />
            <br />

            GitHub logo is the property of GitHub, Inc. Stack Overflow logo is the property of 
            Stack Exchange, Inc.
        </p>
    </normal-layout>
</template>

<style lang="scss" scoped>
@import "~@res/sass/normal-page";
@import "~@res/sass/theme";

#ac-page-root
{
    text-align: left;

    color: $text-on-accent;
    background: $accent-primary;
}

#mission-statement
{
    font: $font-h6;
    font-style: italic;
}

#staff
{
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 1rem;

    .staff-member
    {
        display: grid;
        flex-basis: calc(50% - 1rem);
        flex-grow: 1;

        min-width: 240pt;
        margin: 0.5rem;
        padding: 1rem;

        border-radius: 4pt;
        box-shadow: 0 0 4pt rgba(black, 0.12);

        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;

        .staff-name
        {
            font: $font-h6;

            display: inline-block;

            width: 100%;
        }

        .staff-position
        {
            grid-column: 1;
        }

        .staff-badges
        {
            display: inline-block;

            grid-column: 2;
            grid-row: 1 / 3;

            align-self: center;

            .badge
            {
                display: inline-block;

                width: 1.5em;
                height: 1.5em;

                cursor: pointer;
                vertical-align: baseline;

                background-size: contain;
            }

            .badge-gh
            {
                background-image: url(~@res/image/badge-gh.svg);
            }

            .badge-so
            {
                background-image: url(~@res/image/badge-so.svg);
            }
        }
    }
}

</style>

<script lang="ts">
import Vue from "vue";
import * as v from "av-ts";

import anime from "animejs";

import NormalLayout from "@layout/normal.vue";

@v.Component({ components: { NormalLayout } })
export default class MissionPage extends Vue
{
    public staff = [{
        name: "Ayodele Fasetire",
        position: "CEO"
    }, {
        name: "Mariah Longcross",
        position: "CFO"
    }, {
        name: "Samantha Hunt",
        position: "Lead Engineer"
    }, {
        name: "Dale McIntyre",
        position: "Lead Accountant"
    }, {
        name: "Trevor Lagraba",
        position: "Tax Specialist"
    }, {
        name: "Zachary Hill",
        position: "Audit Specialist"
    }]
}
</script>

