<template>
    <normal-layout>
        <h3>Our services</h3>
        <br />

        <div class="ac-service">
            <div class="ac-service-price-wrapper">
                From
                <span class="ac-service-price">
                    $3
                </span>
                per week
            </div>
            <div class="ac-service-info-wrapper">
                <h4>
                    Personal Bookkeeping
                </h4>
                <p>
                    We're happy to help you keep up with your personal finances. How much
                    money did you spend last year? We can tell you that.
                </p>

                <div class="ac-service-info-buttons">
                    <router-link :to="{ path: '/contact', query: { 'service': 'personal' } }">
                        <ac-button class="accent-primary style-flat">
                            Contact us
                        </ac-button>
                    </router-link>
                </div>
            </div>
        </div>

        <div class="ac-service">
            <div class="ac-service-price-wrapper">
                From
                <span class="ac-service-price">
                    $3
                </span>
                per week
            </div>
            <div class="ac-service-info-wrapper">
                <h4>
                    Personal Tax Management
                </h4>
                <p>
                    Tired of receiving letters from the IRS? Frustrated by their
                    byzantine system of forms and processes? Being audited? We can help.
                </p>

                <div class="ac-service-info-buttons">
                    <router-link :to="{ path: '/contact', query: { 'service': 'personal-tax' } }">
                        <ac-button class="accent-primary style-flat">
                            Contact us
                        </ac-button>
                    </router-link>
                </div>
            </div>
        </div>

        <div class="ac-service">
            <div class="ac-service-price-wrapper">
                From
                <span class="ac-service-price">
                    $150
                </span>
                per week
            </div>
            <div class="ac-service-info-wrapper">
                <h4>
                    Payroll Management
                </h4>
                <p>
                    Distributing payment to your employees and contractors and keeping track of
                    sick days, paid leave, bonuses, and differing tax requirements is a heavy
                    task that will eat into your productive time. Let us do the heavy lifting.
                </p>

                <div class="ac-service-info-buttons">
                    <router-link :to="{ path: '/contact', query: { 'service': 'business' } }">
                        <ac-button class="accent-primary style-flat">
                            Contact us
                        </ac-button>
                    </router-link>
                </div>
            </div>
        </div>

        <div class="ac-service">
            <div class="ac-service-price-wrapper">
                From
                <span class="ac-service-price">
                    $150
                </span>
                per week
            </div>
            <div class="ac-service-info-wrapper">
                <h4>
                    Business Bookkeeping
                </h4>
                <p>
                    Launched a business, but not sure what to do with the money? Want to
                    make sure you don't get bamboozled by your trading partners? 
                </p>

                <div class="ac-service-info-buttons">
                    <router-link :to="{ path: '/contact', query: { 'service': 'business' } }">
                        <ac-button class="accent-primary style-flat">
                            Contact us
                        </ac-button>
                    </router-link>
                </div>
            </div>
        </div>

        <div class="ac-service">
            <div class="ac-service-price-wrapper">
                From
                <span class="ac-service-price">
                    $500
                </span>
                per audit
            </div>
            <div class="ac-service-info-wrapper">
                <h4>
                    Audits &amp; Reviews
                </h4>
                <p>
                    Make sure everything in your corporation is spotless, from top to bottom. Help
                    your shareholders understand the structure of your business, or investigate
                    suspicious activity.
                </p>

                <div class="ac-service-info-buttons">
                    <router-link :to="{ path: '/contact', query: { 'service': 'onetime' } }">
                        <ac-button class="accent-primary style-flat">
                            Contact us
                        </ac-button>
                    </router-link>
                </div>
            </div>
        </div>
    </normal-layout>
</template>

<style lang="scss" scoped>
@import "~@res/sass/normal-page";
@import "~@res/sass/theme";

#ac-page-root
{
    text-align: left;

    color: $text-on-accent;
    background: $accent-primary;
}

.ac-service
{
    display: flex;
    align-items: center;

    margin-bottom: 1rem;

    border-radius: rem(4pt);
    background: $bg-light;
    box-shadow: 0 0 rem(4pt) rgba(black, 0.12);

    .ac-service-price-wrapper
    {
        padding: 1rem;

        text-align: center;

        .ac-service-price
        {
            font: $font-h3;

            display: block;

            width: 7rem;
        }
    }

    .ac-service-info-wrapper
    {
        padding: 1rem 1.5rem;

        border-left: 1px solid rgba($text-on-light, 0.12);

        h4
        {
            margin-top: 0;
        }

        .ac-service-info-buttons
        {
            margin-top: -1rem;

            text-align: right;
        }
    }
}

@media screen and (max-width: 640pt)
{
    .ac-service
    {
        flex-direction: column;

        .ac-service-info-wrapper
        {
            max-width: 100%;

            border-top: 1px solid rgba($text-on-light, 0.12);
            border-left: none;

            .ac-service-info-buttons
            {
                margin-top: 0;
            }
        }
    }
}

@media screen and (max-width: 480pt)
{
    .ac-service-info-wrapper
    {
        h4
        {
            font-size: 26pt;
        }
    }
}

</style>

<script lang="ts">
import Vue from "vue";
import * as v from "av-ts";

import anime from "animejs";

import NormalLayout from "@layout/normal.vue";

@v.Component({ components: { NormalLayout } })
export default class PricingPage extends Vue
{
}
</script>

