<template>
    <div id="test-root"
         :class="{ 'dark-mode': darkMode }">
        <h4>Text field</h4>
        <ac-text-field v-model="text" helper-text="this is helper text"/>
        <br/>
        <ac-text-field v-model="number" helper-text="this field only accepts numbers" pattern="\d+$"/>

        <h4>ac-button</h4>
        <ac-button class="accent-primary"/>
        <ac-button class="accent-primary" type="flat">Flat button</ac-button>
        <br/>
        <ac-button class="accent-contrast">Contrast button</ac-button>
        <ac-button class="accent-contrast" type="flat">Flat contrast button</ac-button>
        <br/>
        <ac-button class="accent-danger">Danger button</ac-button>
        <ac-button class="accent-danger" type="flat">Flat danger button</ac-button>

        <div id="dark-mode-bubble">
            <input type="checkbox"
                   v-model="darkMode" />
            <label>
                Dark mode
            </label>
        </div>
    </div>
</template>

<style lang="scss">
@import "~@res/sass/theme.scss";
@import "~@res/sass/text.scss";

#test-root
{
    font: $font-body-2;

    position: fixed;

    overflow: auto;

    width: 100%;
    height: 100%;

    transition-duration: 0.128s;
    transition-property: color, background;

    color: $text-on-light;
    background: $bg-light;

    padding: 1rem;

    &.dark-mode
    {
        color: $text-on-dark;
        background: $bg-dark;
    }
}

#dark-mode-bubble
{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

</style>

<script lang="ts">
import Vue from "vue";
import * as v from "av-ts";

import AcTextField from "@control/textfield.vue";
import AcButton from "@control/button.vue";

@v.Component({ components: { AcTextField, AcButton } })
export default class Test extends Vue {
    public text = "";
    public number = "";
    public darkMode = false;

    @v.Lifecycle
    public mounted() {
        console.log("Hello from Test");
    }
}
</script>

