<style src="@res/sass/master.scss" lang="scss">
</style>

<template>
    <div id="app-root"
         refs="app-root" v-bar>
        <div>
            <router-view>
            </router-view>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import * as v from "av-ts";

@v.Component
export default class App extends Vue
{
    @v.Lifecycle
    public mounted()    {
        this.$router.afterEach(this.afterEach);
    }

    public afterEach()    {
        (this as any).$vuebar.refreshScrollbar(this.$refs["app-root"]);
    }
}
</script>
