<template>
    <div id="ac-page-root">
        <div class="ac-tile-background">
        </div>
        <div class="ac-page-wrapper">
            <header class="ac-header">
                <overdrive id="ac-logo"
                           class="ac-logo"
                           :duration="500"
                           :easing="easing">
                    <router-link to="/">
                        <div v-html="require('!!html-loader!@res/image/ac-logo.svg')">
                        </div>
                    </router-link>
                </overdrive>

                <!-- <nav> -->
                <nav id="ac-nav"
                     :class="{ 'nav-open': navOpen }">
                    <div class="ac-nav-collapse"
                         @click="navOpen = !navOpen"
                         v-html="require('!!html-loader!@res/image/ac-hamburger-menu.svg')">
                    </div>
                    <ul>
                        <router-link tag="li"
                                     to="/pricing">
                            Services & Pricing
                        </router-link>
                        <router-link tag="li"
                                     to="/faq">
                            FAQ
                        </router-link>
                        <router-link tag="li"
                                     to="/mission">
                            About Us
                        </router-link>
                        <router-link tag="li"
                                     to="/contact">
                            Contact Us
                        </router-link>
                        <router-link tag="li"
                                     to="/login">
                            Log In
                        </router-link>
                    </ul>
                </nav>
            </header>
            <section class="ac-body">
                <slot />
            </section>
            <footer class="ac-footer">
                <span class="text-caption text-muted">
                    Made in Atlanta by Ibiyemi Abiodun
                    &nbsp;&bull;&nbsp;
                    <a href="https://gitlab.com/laptou/fbla-web-design-2019">
                        View Source Code
                    </a>
                </span>
            </footer>
        </div>
    </div>
</template>

<style lang="scss" scoped>
@import "~@res/sass/normal-page";
@import "~@res/sass/theme";

#ac-page-root
{
    color: $text-on-accent;
    background: $accent-primary;

    text-align: left;
}

.ac-footer a 
{
    color: $text-on-accent;

    &:hover
    {
        color: $accent-secondary-light;
    }
}
</style>

<script lang="ts">
import Vue from "vue";
import { Route } from "vue-router";
import * as v from "av-ts";

import anime from "animejs";

@v.Component
export default class NormalLayout extends Vue
{
    public easing = require("ramjet").easeInOut;
    public navOpen = false;

    @v.Watch("navOpen")
    public navChanged(value: boolean)    
    {
        if (value)        
        {
            anime({
                targets: ".ac-nav-collapse svg polyline",
                points: "6,15 12,9 18,15",
                translateY: [{ value: 0, elasticity: 0 }],
                duration: 384
            });
        }
        else       
        {
            anime({
                targets: ".ac-nav-collapse svg polyline",
                points: "4,12 12,12 20,12",
                translateY: (el: any, i: number) => (i - 1) * 6,
                duration: 384
            });
        }
    }
}
</script>